* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Home {
  background-image: url("https://wallpaperswide.com/download/sunset_312-wallpaper-1600x900.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 200;
}

.tarto {
  min-height: 90vh;
}

.menusor {
  background-color: lightblue;
}
